@media screen and (max-width: 990px){
	/*-------header-------*/
	#logo{
		float: left;
	    margin: auto;
	    height: 30px;
	    margin-left: 1%;
	    margin-right: 5%;
	    margin-top: 1%;
	}

	li{
		margin:0.5em;
	}

	/*-----4passos-----*/
	.passos{
		background-image:url(backgrounds/grafismo_centered.png);
	}
	#passos4{
		display:inline;
		color:#404041;
	}
	.sessaoPassos{
		top: 5%;
	}
	#btConhecer{
		position: relative;
		margin-top: 225px;
		left: 25%;
	}	

	/*------comentarios-------*/

	.comentario{
		display: inline-block;
		vertical-align: -550%;
		margin: auto;
	}
	/*------produtos-----*/
	.chamativo{
		margin: auto;
		left: 0;
	}

	/*-------footer---------*/
	#btFooter{
		display: block;
		text-align:  center;
		margin-left: 40%;
		margin-top: -1%;
		margin-bottom: 2%;
	}

	#frase{
		width: 40%;
	}
}

@media screen and (max-width: 2500px){
	#apoio{
		display: none;
	}
}

@media screen and (max-width: 768px){
	.esquerdaFooter{
		left:35%;
	}
	#frase{
		text-align: center;
	}
	.direitaFooter{
		text-align: center;
		right: 0;
	}
}

@media screen and (max-width: 856px){
	header button{
		display: inline-block;
	}
	header ul{
		display: none;
	}
}

@media screen and (max-width: 700px){
	.slogan{
		font-size: 3em;
	}
}

@media screen and (max-width: 550px){
	.slogan{
		font-size: 2em;
	}

	.pos-head{
		font-size: 1.5em;
	}
	/*---------4passos-----------*/
	.passos{
		background-image: url(backgrounds/fundo_grafismo.png);
	}

	.sessaoPassos img {
		display: block;
		height: 120px;
	}
	#btConhecer{
		margin-top: 25px;
	}
	/*-----------comentarios-----------*/

	.comentario{
		font-size: 0.8em;
	}


	.sloganFim{
		font-size: 2.25em;
	}


	/*-------footer----------*/

	.footerSlogan{
		font-size: 2em;
	}

}