
@media screen and (max-width: 1200px){
	#apoio{
		display: none;
	}
}
@media screen and (min-width: 857px){
	ul{
		visibility: visible !important; 
	}
}
@media screen and (max-width: 990px){
	/*-------header-------*/
	#logo{
		float: left;
	    margin: auto;
	    height: 30px;
	    margin-left: 1%;
	    margin-right: 5%;
	    margin-top: 1%;
	}

	li{
		margin:0.5em;
	}

	/*-----4passos-----*/
	.passos{
		background-image:url(backgrounds/grafismo_centered.png);
		text-align: center;
	}
	#passos4{
		display:inline;
		color:#404041;
	}
	.sessaoPassos{
		top: 5%;
	}
	#btConhecer{
		position: relative;
		margin-top: 225px;
	}	

	/*------comentarios-------*/

	.comentario{
		display: inline-block;
		vertical-align: -550%;
		margin: auto;
	}
	/*------produtos-----*/
	.chamativo{
		margin: auto;
		left: 0;
		margin-bottom: 30px;
	}

	/*-------footer---------*/
	#btFooter{
		font-size: 1em;
		margin: auto;
		right: 0;
	}
	.esquerdaFooter{
		left:30%;
	}
	#frase{
		text-align: center;
	}
	.meioFooter{
		margin: 30px 0;
	}
	.direitaFooter{
		text-align: center;
		right: 0;
	}

	#frase{
		width: 40%;
	}
}

@media screen and (max-width: 856px){
	header button{
		display: inline-block;
		z-index: 100;
	}
	ul{
		display: none;
	}
	.ativo{
		display: block;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	li{
		display: block;
		background-color: rgb(255, 84, 23);
		padding: 2% 30%;
		text-align: center;
		top: 35px;
		margin: auto;
		font-size: 1.25em;
	}
}

@media screen and (max-width: 700px){
	.slogan{
		font-size: 3em;
		padding: 20% 0;
	}
}

@media screen and (max-width: 550px){
	.slogan{
		font-size: 3em;
	}

	.pos-head{
		font-size: 2em;
	}
	/*---------4passos-----------*/
	.passos{
		height: 325px;
		text-align: center;
	}
	#passos4{
		font-size: 2em;
	}
	.sessaoPassos{
		left: 0;
	}
	#btConhecer{
		left: 0%;
		margin-top: 140px;
	}
	/*-----------comentarios-----------*/

	.comentario{
		font-size: 0.7em;
	}

	.ocupacao{
		margin-bottom: auto;
	}


	.sloganFim{
		font-size: 2.25em;
	}


	/*-------footer----------*/
	.footer{
		text-align: center;
		margin: 15px 0;
	}

	.footerSlogan{
		font-size: 2em;
	}

	#btFooter{
		display: block;
		top: 0;
	}

	.esquerdaFooter{
		width: auto;
		left: 0;
		text-align: center;
	}

	.meioFooter{
		margin: 30px 0;
	}

	#frase{
		width: 50%;
		left: 25%;
	}

	#telefone{
		font-size: 2em;
	}

}

@media screen and (max-width: 400px){
	#frase{
		left: 5%;
		width:auto;
	}
}